
<div class="col">
  <div class="content margin8">
    <h2 class="margin8 row main-center"><%= @user.name%></h2>

    <div class="col margin8">
      <strong class="heading">Events Created:</strong>
      <% @user.events.each do |event| %>
        <%= render 'events/event', event: event %>
      <% end %>
    </div>

    <div class="col margin8">
      <strong class="heading">Previously attended Events:</strong>
      <% @user.attended_events.past_events.each do |event| %>
        <%= render 'events/event', event: event %>
      <% end %>
    </div>

    <div class="col margin8">
      <strong class="heading">Upcoming Events to attend:</strong>
      <% @user.attended_events.upcoming_events.each do |event| %>
        <%= render 'events/event', event: event %>
      <% end %>
    </div>
  </div>
</div>
