<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Events Created:</strong>
  <% @user.events.each do |event| %>
    <p><%= event.description %></p>
  <% end %>
</p>
