
<h1 class="page_title">Events</h1>

<div class="col">
  <span class="heading">Past Events</span>
  <div class="row wrap">
    <% @events.past_events.each do |event| %>
      <%= render 'event', event: event %>
    <% end %>
  </div>

  <span class="heading">Upcoming Events</span>
  <div class="row wrap">
    <% @events.upcoming_events.each do |event| %>
      <%= render 'event', event: event %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Event', new_event_path, class: "links margin8"%>
