<div class="col">
  <div class="content margin8">
    <p>
      <strong>Description:</strong>
      <span class="page_title"></span>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>Creator:</strong>
      <%= @event.creator_id %>
    </p>

    <p>
      <strong>Attendees:</strong>
      <% @event.attendees.each do |attendee| %>
        <p><%= attendee.name %></p>
      <% end %>
    </p>
  </div>

  <div class="margin8 attend">
    <%= link_to 'Attend', class: "links margin8", :controller => 'attendance', :action => 'create', :event => @event %>
  </div>
</div>
